
@model KenticoCommunity.YouTubeSelectorWidget.YouTubeSelectorWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
    <div class="youtube-selector-wrapper">
        @{
            Html.RenderPartial("Widgets/YouTubeSelectorWidget/_YouTubeSelectorSearchBox", new KenticoCommunity.YouTubeSelectorWidget.YouTubeSelectorSearchBoxModel
            {
                PropertyName = nameof(Model.VideoId),
                ApiKey = Model.ApiKey
            });
        }
    </div>
}

@if (!string.IsNullOrEmpty(Model.VideoId))
{
    <h3>@Model.VideoId</h3>
}


